@using BO
@model Samurai

<div class="form-group">
    <label for="weaponId">Weapon:</label>
    <select class="form-control" id="weaponId" name="WeaponId">
        <option value=""></option>
        @* @foreach (var weapon in Model.AvailableWeapons)
        {
            <option value="@weapon.Id">@weapon.Name</option>
        } *@
    </select>

</div>